.Content {
  margin-bottom: 32px;
  padding: 32px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Content h2 {
  margin: 0 0 32px 0;
}

.Content ul {
  margin: 0;
}

.Content li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

.Content li:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.Content li:not(:first-child) {
  padding-top: 16px;
}
